#pie{width: 100%; background-color: #FF8000; height: 200px; padding: 2px;}
#pie li {color: #ff8000}
.img{text-align: center;}
.divfood{display: inline-block;
border: 0px solid #000;
width: 410px;
height: auto;
}
.spanfood{font-size: 20px; color: #fff; font-weight: bold;}
.spanfood2{font-size: 20px; color: #ff8000; font-weight: bold;}
#blanco{color: #fff;}