.img{text-align: center;}
#blanco{color: #fff;}
#food{width: 100%; background-color: #FF8000; height: 50px;}
#pie{width: 100%; background-color: #FF8000; height: 200px; padding: 2px;}
#pie li {color: #ff8000}