<!DOCTYPE html>
<html lang="es">
<head>
	<title> Gimnasio El Poder </title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
	<body>

<div id="pie">
	<br>
<div class="img">
	<div class="divfood" id="izquierda">
		<span class="spanfood"> Servicios </span>
		<br>
		<ul>


  	  <li><a id="blanco" href="../entrenadores.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Entrenadores </a></li> 

	  	 <li> <a id="blanco" href="../precios.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Precios </a></li> 
<li><a id="blanco" href="../cuerpo.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> ¿que tipo de cuerpo tienes? </a></li> 
		  	<li> <a id="blanco" href="../dieta.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Dietas </a></li> 
		  	 <li><a id="blanco" href="../tips.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Tips </a> </li>
</div> 
<div class="divfood" id="izquierda">
<span class="spanfood"> Nosotros </span>
<br>
<ul>
	<li><a id="blanco" href="../index.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Inicio </a></li> 
<li><a id="blanco" href="../mision.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Misión </a> </li>
		  	 <li> <a id="blanco" href="../vision.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Visión </a> </li>
		  	  <li> <a id="blanco" href="../contactanos.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> contactanos </a> </li>
		  	  <li><a id="blanco" href="../instalaciones.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Instalaciones </a></li> 
		
		  	 </div> 
		  
<div class="divfood" id="izquierda">
		  	 <span class="spanfood"> Siguenos </span>
		  	 <br>
<ul>
		  	 	<li> <a id="blanco" href="https://es-la.facebook.com/" target="_blank"> <img width="40" src="https://vignette.wikia.nocookie.net/monsterlegends/images/d/d5/Icono_facebook.png/revision/latest?cb=20170912230301&path-prefix=es"> </a></li>
		 <li> <a id="blanco" href="https://www.instagram.com/?hl=es-la" target="_blank"> <img width="40" src="https://images.vexels.com/media/users/3/137380/isolated/preview/1b2ca367caa7eff8b45c09ec09b44c16-instagram-icon-logo-by-vexels.png"> </a></li>
	</div>
		 </div>

		</body>
		</html>
