
<!DOCTYPE html>
<html lang="es">
<head>
	<title> Gimnasio El Poder </title>
	<link rel="stylesheet" type="text/css" href="../css/header.css">
</head>
	<body>


 <div class="img">
<div id="food">
<a id="blanco" href="../index.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Inicio </a> &nbsp; &nbsp;
<a id="blanco" href="../instalaciones.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Instalaciones </a> &nbsp; &nbsp;
<a id="blanco" href="../entrenadores.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Entrenadores </a> &nbsp; &nbsp;
		 <a id="blanco" href="../cuerpo.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> ¿que tipo de cuerpo tienes? </a> &nbsp; &nbsp;
		  	 <a id="blanco" href="../dieta.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Dietas </a> &nbsp; &nbsp;
		  	 <a id="blanco" href="../tips.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Tips </a> &nbsp; &nbsp;
		  	  <a id="blanco" href="../mision.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Misión </a> &nbsp; &nbsp;
		  	  <a id="blanco" href="../vision.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Visión </a> &nbsp; &nbsp;
		  	  <a id="blanco" href="../precios.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Precios </a> &nbsp; &nbsp;
		 <a id="blanco" href="../contactanos.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> contactanos </a> &nbsp; &nbsp;
		  <a id="blanco" href="../login.html" onMouseover="this.style.color='#000'" onMouseout="this.style.color=' #fff '" target="_parent"> Iniciar sesión </a>
	</div>



  	</div>
</div>
</body>
</html>